html {
  font-family: "Roboto", sans-serif;
}
main {
  max-width: 640px;
  margin: 0 auto;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

/* http://meyerweb.com/eric/tools/css/reset/ 
    v2.0 | 20110126
    License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Globals */

*,
*::before,
*::after {
  box-sizing: border-box;
}

.flex {
  display: flex;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.center {
  text-align: center;
}

input,
textarea {
  display: block;
  font: inherit;
  outline: none;
  border: 1px solid lightblue;
  border-radius: 3px;
  padding: 0.25rem;
  margin: 0.5rem;
  width: 100%;
}

input[type="submit"] {
  cursor: pointer;
}

.col-25 {
  width: 25%;
}

.col-75 {
  width: 75%;
}

.wrapper {
  margin: 2rem;
}

img {
  width: 100%;
}

.small-img {
  width: 180px;
  height: 120px;
  object-fit: cover;
}

.align-left {
  text-align: left;
  font-size: 1.25rem;
  font-weight: 500;
  margin: 2rem;
}

.align-right {
  text-align: right;
}

/* Typography */

h1,
h2,
h3 {
  font-size: 2.5rem;
  font-weight: 500;
}

h2 {
  font-size: 2.25rem;
}

h3 {
  font-size: 2rem;
  margin: 2rem;
}

/* Links & Buttons */

a {
  text-decoration: none;
}

/* login */

.login {
  background-color: cornsilk;
}

.login h3 {
  margin-top: 5rem;
}

.login-form {
  background-color: lightcoral;
  flex-flow: column;
  padding: 1.25rem;
  border-radius: 5px;
  margin-top: 2rem;
}

.login-form label {
  color: rgb(34, 59, 59);
}

.login-form input[type="submit"] {
  border-radius: 5px;
  outline: none;
  font-weight: 600;
  background-color: lightgray;
  color: mediumseagreen;
  margin-top: 1.5rem;
  padding: 0.25rem 1rem;
}
figure {
  text-align: center;
  margin: 2rem auto;
}

.article-desc {
  text-align: justify;
  padding: 0 2rem;
  white-space: pre-wrap;
}

.article-list {
  margin: 2rem;
}

.comment-form {
  width: 100%;
  margin: 0 auto;
}

/* comments */

.comment {
  background-color: white;
  border-radius: 10px;
  border: 1px solid black;
  margin: 1rem 0;
}

.comment h6 {
  padding: 2rem;
  font-size: 1.2rem;
  background-color: white;
}

.reply {
  padding: 0.5rem;
  cursor: pointer;
}

.imoji * {
  display: inline-block;
  margin: 0.25rem;
  color: rgb(204, 204, 84);
}

.reaction {
  justify-content: space-between;
  align-items: center;
}

.updation {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.updation * {
  margin: 0.8rem 2rem;
}

.updated-at {
  display: inline-block;
  margin: 1rem;
  color: blueviolet;
}

.register {
  max-width: 50%;
  margin: 2rem auto;
}

.error {
  margin: 2rem;
}
