.container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)),
    url("/images/bg.jpg");
  height: 720px;
  background-size: cover;
}
a {
  color: blue;
  text-decoration: none;
}
