<head>
    <link href="/stylesheet/header.css" rel="stylesheet">
</head>

<header>
  <div class="container flex js-bt">
    <h2><a href="/">Personal Blog</a></h2>
      <h6><a href="/user/articles">Admin</a> / <a href="/user/logout">Logout</a></h6>
         <h6><a href="/user/signup">Register</a> / <a href="/user/login">Login</a></h6>
   </di/v>
</header>