<head>
    <link href="/stylesheet/header.css" rel= "stylesheet">
    <link href="/stylesheet/main.css" rel = 'stylesheet'>
</head>

<header class="flex js-bt">
    <div class="brand"> 
   <h2>Logo</h2>
     </div>
     <nav>
        <ul class="flex">
            <li><a href="/">Home</a></li>
            <li><a href="#feature">Features</a></li>
            <li><a href="/Articles">Blogs</a></li>
            <li><a href="#team">Team</a></li>
        </ul>
     </nav>
     </div>
</header>  