<head>
    <link href="/stylesheet/comment.css" rel="stylesheet">
</head>


<%= article %>
<form action = "/article/<%= article.id %>/comment" method="POST">
  </form>
   <div id="root"></div>
 <%= comments %> 