<!DOCTYPE html>

<head>
<title>Welcome to Blog</title>
<link href  = "/stylesheet/main.css" rel="stylesheet" type="text/css">
</head>
<body>
<header>

</header>
<main>
<h1>Hey this is new view</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum molestias dolor repellendus quo eveniet ipsum et vel fugiat incidunt iste a, saepe temporibus animi sapiente laboriosam numquam soluta maxime consectetur!</p>
  
<% name.forEach((item) => { %>
    <h1><%=item %> </h1>

 <% });  %>

</main>
</body>

</html>