<head>
    <link href="/stylesheet/signup.css" rel="stylesheet">
</head>
<body>
  <div class="container">
    <div class="form-container">
      <div class="head">
        <h3>Sign Up</h3>
        <p>It's free and only takes a minute</p>
      </div>
      <form class="Inputs" action="/signup" method="POST">
        <label for="first">Name</label>
        <input id="first" name="name" value="" />
        <label for="email">Email</label>
        <input id="email" name="email" value="" />
        <label for="pswd">Password</label>
        <input id="pswd" type="password" name="password" value="" />
        <button type="submit">Sign Up</button>
      </form>
      <div class="footer">
        <p>By clicking the Signup Button you agree to our
          <a href="#">Term & conditons </a>and <a href="#">Prinvacy policy</a></p>
      </div>
    </div>
    <div class="signup"> Already have a account ? <a href="#">Login Here</a></div>
  </div>
</body>